*{
    margin: 0;
}

body {
    height: 300vh;/*1°  indicando 100% da altura da tela não preciso dizer a quantidade de pixel*/
   /* 2° height: 200vh;mostra o scroll do lado porque altura ficou maior 2x 100% */
   width: 100vh;/*3° indicando 100% da largura da tela não preciso dizer a quantidade de pixel*/
}

.minhadiv {
    width: 500px;
    height: 500px;
    /*
    background-color: black;red white yellow green gray blue  violet */
    /*Hashtag #hexadecimal*/
    /*1° (0) cor vermelho  2° (0) cor verde  3° (0) cor azul*/
    /*background-color: #000; preto   ,#fff branco, #cccccc cinza*/
    /*não precisamos decorar pegamos tudo em um site*/
    /* https://www.w3schools.com/colors/colors_picker.asp */
    /*background-color: #009900;*/

    /*cores rgb e rgba com  opacidade*/
    /*background-color: rgb(0, 153, 0); sem opacidade*/
    background-color: rgba(0, 153, 0, 0.5); /*com opacidade números menores  que 1 fica transparêntes*/

}
